@use '../colors';
@use '../vars';

nav {
  position: fixed;
  top: 60%;
  right: vars.$side-padding;
}

ul {
  list-style-type: none;
}
.nav-item {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid colors.$primary;
  margin: 20px;
}

.active {
  background: colors.$primary;
}
